
<html><head><meta http-equiv="Content-Type" content="text/html; charset=Big5">
<title>Delete</title>
</head>
<body>
<H1> Delete!</h1>

	
	<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back(2);
}
</script>
</form>



</body></html>
